---
export interface Props {
	hobby: string;
  description: string;
  link_title: string;
  link: string;
}

const { hobby, description, link_title, link } = Astro.props;
---

<li class="hobby-card">
	<div>
		<h2 class="hobby-name">
			{hobby}
		</h2>
    <p>
      {description} <a href={link} target="_blank">{link_title}</a>
    <p>
	</div>
</li>
<style>
	.hobby-card {
		list-style: none;
		display: flex;
		padding: 0.25rem;
		background-color: black;
    color: #F6F6F6;
		background-image: none;
		background-size: 400%;
		border-radius: 0.6rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		/* TODO: fix transition to be smooth */
    transition: background-image 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}
	.hobby-name {
		margin: 0;
		text-align: left;
    font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	.hobby-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
  .hobby-card:hover a {
    color: #ddd;
  }
  .hobby-card a:hover {
    color: black;
  }
</style>
